In [78]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [79]:
import pandas as pd
import numpy as np

In [80]:
df = pd.DataFrame(np.random.randn(1000, 4))
df.head()

          0         1         2         3
0  1.008439  0.428086  2.114516  1.366097
1  0.844211 -0.048855  0.025997 -1.156500
2 -0.029850 -0.184231 -0.923595 -0.661062
3  0.367963 -0.665306  0.849544 -1.206402
4  0.090193 -0.538901 -1.275824  0.849307

In [81]:
# Suppose you want to find out values in one of the columns exceeding 3 in absolute value
# Let'a assume target column is df[2]

In [82]:
df_col_2 = df[2]

In [83]:
df[np.abs(df_col_2) > 3]

            0         1         2         3
848 -0.198928 -1.317757 -3.530756 -0.844433
873 -0.820242  1.283429  3.349670  1.064726

In [84]:
## PTR: To select all rows having a value exceeding 3 (or) -3, we may use any method on a Boolean DataFrame
df[(np.abs(df) > 3).any(axis = 1)]

            0         1         2         3
30   0.064771 -3.619666 -1.228881  0.562943
39  -4.143080  0.074063  0.414059  0.212367
200 -3.236937  1.241374 -0.045699 -2.285800
362  0.534972  1.015809  1.346204 -3.015351
433  1.243910 -3.637472 -1.111846  0.926643
633  3.370609 -1.498673  0.260311 -0.548403
686  1.411912  0.972762  2.055928 -3.335046
844 -3.092123 -0.451754 -0.184641  0.883028
848 -0.198928 -1.317757 -3.530756 -0.844433
873 -0.820242  1.283429  3.349670  1.064726