In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(1000, 4))
df.head()

          0         1         2         3
0  2.301439  0.076206 -1.054039  0.310241
1  2.276568 -1.107090  0.154038 -0.721775
2 -1.546934  1.555987 -0.764765  0.510230
3 -1.637590  0.711115  0.220833 -1.106114
4 -1.876107  0.064468 -0.343479 -0.154006

In [4]:
# Suppose you want to find out values in one of the columns exceeding 3 in absolute value
# Let'a assume target column is df[2]

In [5]:
df_col_2 = df[2]

In [6]:
df[np.abs(df_col_2) > 3]

            0         1         2         3
368 -0.273882  0.066931  3.301030  0.054919
873  0.223044 -0.459598 -3.302527  1.004185

In [7]:
## Problem: To select all rows having a value exceeding 3 (or) -3, we may use any method on a Boolean DataFrame
df[(np.abs(df) > 3).any(axis = 1)]

            0         1         2         3
89  -3.017274 -0.853912 -2.028736 -0.995624
317 -0.586964 -0.997981 -0.041805  3.970239
368 -0.273882  0.066931  3.301030  0.054919
539  3.521884  1.597662 -0.372386 -0.030672
546 -3.011932 -0.209296  1.066542  0.264404
638  0.066891  3.224555 -0.317867 -0.878862
663 -0.139613 -0.298940 -1.044184 -3.190608
792  1.061720  0.058055 -0.295475 -3.245626
873  0.223044 -0.459598 -3.302527  1.004185
900  0.548187  1.036811 -0.314682  3.163132

In [17]:
df[np.abs(df) > 3]

      0   1   2   3
0   NaN NaN NaN NaN
1   NaN NaN NaN NaN
2   NaN NaN NaN NaN
3   NaN NaN NaN NaN
4   NaN NaN NaN NaN
5   NaN NaN NaN NaN
6   NaN NaN NaN NaN
7   NaN NaN NaN NaN
8   NaN NaN NaN NaN
9   NaN NaN NaN NaN
10  NaN NaN NaN NaN
11  NaN NaN NaN NaN
12  NaN NaN NaN NaN
13  NaN NaN NaN NaN
14  NaN NaN NaN NaN
15  NaN NaN NaN NaN
16  NaN NaN NaN NaN
17  NaN NaN NaN NaN
18  NaN NaN NaN NaN
19  NaN NaN NaN NaN
20  NaN NaN NaN NaN
21  NaN NaN NaN NaN
22  NaN NaN NaN NaN
23  NaN NaN NaN NaN
24  NaN NaN NaN NaN
25  NaN NaN NaN NaN
26  NaN NaN NaN NaN
27  NaN NaN NaN NaN
28  NaN NaN NaN NaN
29  NaN NaN NaN NaN
..   ..  ..  ..  ..
970 NaN NaN NaN NaN
971 NaN NaN NaN NaN
972 NaN NaN NaN NaN
973 NaN NaN NaN NaN
974 NaN NaN NaN NaN
975 NaN NaN NaN NaN
976 NaN NaN NaN NaN
977 NaN NaN NaN NaN
978 NaN NaN NaN NaN
979 NaN NaN NaN NaN
980 NaN NaN NaN NaN
981 NaN NaN NaN NaN
982 NaN NaN NaN NaN
983 NaN NaN NaN NaN
984 NaN NaN NaN NaN
985 NaN NaN NaN NaN
986 NaN NaN NaN NaN
987 NaN NaN NaN NaN
988 NaN NaN NaN NaN
989 NaN NaN NaN NaN
990 NaN NaN NaN NaN
991 NaN NaN NaN NaN
992 NaN NaN NaN NaN
993 NaN NaN NaN NaN
994 NaN NaN NaN NaN
995 NaN NaN NaN NaN
996 NaN NaN NaN NaN
997 NaN NaN NaN NaN
998 NaN NaN NaN NaN
999 NaN NaN NaN NaN

[1000 rows x 4 columns]

In [15]:
## Problem: To cap values outside the interval 3 and -3
df[np.abs(df) > 3] = np.sign(df)*3

In [16]:
df.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.005402     0.004519     0.038213    -0.027713
std       1.025793     0.983055     0.991429     1.036426
min      -3.000000    -2.892614    -3.000000    -3.000000
25%      -0.711247    -0.639980    -0.678993    -0.748150
50%      -0.026777     0.001194     0.057407    -0.016043
75%       0.705246     0.678164     0.703961     0.667332
max       3.000000     3.000000     3.000000     3.000000