In [23]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Data Transformation

#### 7.2.3 Replacing Values

In [24]:
import pandas as pd
import numpy as np

In [25]:
series_i = pd.Series([1, 999, 2, 999, 1000, 3])
series_i

0       1
1     999
2       2
3     999
4    1000
5       3
dtype: int64

In [26]:
series_i_a = series_i.replace(999, np.nan)
series_i_a

0       1.0
1       NaN
2       2.0
3       NaN
4    1000.0
5       3.0
dtype: float64

In [27]:
## If we want to replace multiple values at once
series_i_b = series_i.replace([999, 2], np.nan)
series_i_b

0       1.0
1       NaN
2       NaN
3       NaN
4    1000.0
5       3.0
dtype: float64

In [28]:
## To use a different replacement value, pass a list of substitute
series_i_c = series_i.replace([999, 2], [np.nan, 0])
series_i_c

0       1.0
1       NaN
2       0.0
3       NaN
4    1000.0
5       3.0
dtype: float64

In [29]:
## The arguments passed can also be dict
series_i_d = series_i.replace({999:np.nan, 1000:0})
series_i_d

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64