In [30]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.DataFrame(
    {
        'data1': np.random.randn(1000),
        'data2': np.random.randn(1000)
    }
)
df.head()

      data1     data2
0  0.277835  2.038488
1  1.034453  1.907833
2 -2.231914 -0.385506
3  0.097092 -1.050907
4 -0.527037 -0.802588

In [33]:
quartiles = pd.cut(df.data1, 4)
type(quartiles)

pandas.core.series.Series

In [34]:
quartiles.head()

0     (0.0449, 1.357]
1     (0.0449, 1.357]
2    (-2.585, -1.268]
3     (0.0449, 1.357]
4    (-1.268, 0.0449]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-2.585, -1.268] < (-1.268, 0.0449] < (0.0449, 1.357] < (1.357, 2.67]]

In [35]:
quartiles.values

[(0.0449, 1.357], (0.0449, 1.357], (-2.585, -1.268], (0.0449, 1.357], (-1.268, 0.0449], ..., (-2.585, -1.268], (-2.585, -1.268], (-1.268, 0.0449], (-1.268, 0.0449], (-1.268, 0.0449]]
Length: 1000
Categories (4, interval[float64]): [(-2.585, -1.268] < (-1.268, 0.0449] < (0.0449, 1.357] < (1.357, 2.67]]

In [36]:
def get_stats(group_data):
    
    return {
        'min':group_data.min(),
        'max':group_data.max(),
        'median':group_data.median(),
        'count':group_data.count(
        )
    }

In [37]:
result = df.groupby(quartiles).apply(get_stats)
result

data1
(-2.585, -1.268]    {'min': [-2.5800232689023, -2.4253925411272883...
(-1.268, 0.0449]    {'min': [-1.2574859011722825, -2.8649451889723...
(0.0449, 1.357]     {'min': [0.048293003138676634, -2.354199691922...
(1.357, 2.67]       {'min': [1.3669024317289944, -2.01502950218101...
dtype: object