> Quantile and Bucket Analysis

In [51]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ats_node_interactivity = 'all'

In [52]:
import pandas as pd
import numpy as np

In [53]:
frame = pd.DataFrame(data = {
    'data1': np.random.randn(5000),
    'data2': np.random.randn(5000)
})
frame.head()

      data1     data2
0  0.604625  0.378473
1  1.525649  0.425241
2  2.169268 -0.454555
3 -0.226779 -1.047687
4  0.235554  0.779611

In [54]:
quartiels = pd.cut(frame.data1, 4)
quartiels.head()

0    (-0.0178, 1.804]
1    (-0.0178, 1.804]
2      (1.804, 3.627]
3    (-1.84, -0.0178]
4    (-0.0178, 1.804]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.67, -1.84] < (-1.84, -0.0178] < (-0.0178, 1.804] < (1.804, 3.627]]

In [55]:
quartiles_series = quartiels.value_counts()
type(quartiles_series)

pandas.core.series.Series

In [56]:
quartiles_series

(-1.84, -0.0178]    2328
(-0.0178, 1.804]    2311
(1.804, 3.627]       199
(-3.67, -1.84]       162
Name: data1, dtype: int64

In [57]:
grp_i = frame.data2.groupby(quartiels)

In [58]:
for grp_index, grp_data in grp_i:
    print(grp_index)
    print('=='*20)

(-3.67, -1.84]
========================================
(-1.84, -0.0178]
========================================
(-0.0178, 1.804]
========================================
(1.804, 3.627]
========================================

In [59]:
def get_stats(grp):

    return {
        'min': grp.min(),
        'max': grp.max(),
        'count': grp.count(),
        'mean': grp.mean()
    }

In [62]:
grp_i_stats = grp_i.apply(get_stats)
grp_i_stats

data1
(-3.67, -1.84]    count     162.000000
                  max         2.737330
                  mean        0.069675
                  min        -2.391718
(-1.84, -0.0178]  count    2328.000000
                  max         3.618947
                  mean       -0.028815
                  min        -3.492114
(-0.0178, 1.804]  count    2311.000000
                  max         3.376811
                  mean        0.025697
                  min        -3.030620
(1.804, 3.627]    count     199.000000
                  max         2.489485
                  mean        0.037211
                  min        -3.118599
Name: data2, dtype: float64

In [61]:
grp_i_stats.unstack()

                   count       max      mean       min
data1
(-3.67, -1.84]     162.0  2.737330  0.069675 -2.391718
(-1.84, -0.0178]  2328.0  3.618947 -0.028815 -3.492114
(-0.0178, 1.804]  2311.0  3.376811  0.025697 -3.030620
(1.804, 3.627]     199.0  2.489485  0.037211 -3.118599