In [31]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [32]:
import pandas as pd
import numpy as np

In [33]:
tips = pd.read_csv('../datasets/tips.csv')

tips['tips_pct'] = tips['tip'] / tips['total_bill']
tips.head()

   total_bill   tip smoker  day    time  size  tips_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [34]:
tip_df_sorted_i = tips.sort_values(by = 'tips_pct', axis = 'index')
tip_df_sorted_i.head()

     total_bill   tip smoker  day    time  size  tips_pct
237       32.83  1.17    Yes  Sat  Dinner     2  0.035638
102       44.30  2.50    Yes  Sat  Dinner     3  0.056433
57        26.41  1.50     No  Sat  Dinner     2  0.056797
0         16.99  1.01     No  Sun  Dinner     2  0.059447
187       30.46  2.00    Yes  Sun  Dinner     5  0.065660

In [35]:
def top_sorted_rows(df, column_name = 'tips_pct', n= ):
    
    sorted_df = df.sort_values(by = 'tips_pct', axis = 'index')
    
    return sorted_df[-n]

In [36]:
tip_df_sorted_ii = top_sorted_rows(tip_df_sorted_i)
tip_df_sorted_ii

NameError: name 'n' is not defined