In [13]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [14]:
import pandas as pd
import numpy as np

In [15]:
columns = pd.MultiIndex.from_arrays(
    [
        ['us', 'us', 'us', 'jp', 'jp'],
        [1, 3, 5, 1, 3]
    ],
    names = ['city', 'tenor']
)
columns

MultiIndex(levels=[['jp', 'us'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['city', 'tenor'])

In [16]:
hier_df = pd.DataFrame(
    data = np.random.randn(5, 5),
    columns = columns
)
hier_df

city         us                            jp
tenor         1         3         5         1         3
0      1.056972 -0.029738  0.119549  0.258224 -1.527902
1      0.868511 -0.196800 -1.022583 -1.074121  0.576009
2      0.472208  2.010450  0.470460  1.106899  0.445869
3      0.765448 -0.878883  1.613530 -1.251133  0.583200
4      1.885763 -0.170296  1.721809 -0.338871 -0.546388

In [17]:
grp_i = hier_df.groupby(level = 'city', axis = 1)

In [18]:
for grp_name, grp_data in grp_i:
    print(grp_name)
    print(grp_data)
    print('=='*20)

jp
city         jp
tenor         1         3
0      0.258224 -1.527902
1     -1.074121  0.576009
2      1.106899  0.445869
3     -1.251133  0.583200
4     -0.338871 -0.546388
========================================
us
city         us
tenor         1         3         5
0      1.056972 -0.029738  0.119549
1      0.868511 -0.196800 -1.022583
2      0.472208  2.010450  0.470460
3      0.765448 -0.878883  1.613530
4      1.885763 -0.170296  1.721809
========================================

In [19]:
grp_i.count()

city  jp  us
0      2   3
1      2   3
2      2   3
3      2   3
4      2   3