#### Selecting a column or a subset of columns

In [69]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [70]:
import pandas as pd
import numpy as np

In [71]:
df = pd.DataFrame(
    {
        'key1': ['a', 'a', 'b', 'b', 'a'],
        'key2': ['one', 'two', 'one', 'two', 'one'],
        'data1': np.random.randn(5),
        'data2': np.random.randn(5)
    }
)
df

  key1 key2     data1     data2
0    a  one  2.605486  0.655194
1    a  two  0.749974 -1.309001
2    b  one -1.156625 -0.027749
3    b  two  1.317381  0.148144
4    a  one  0.242585 -0.181527

In [72]:
grp_i = df['data1'].groupby(df['key1'])
grp_i

In [73]:
for grp_name, grp_data in grp_i:
    print(grp_name)
    print(grp_data)
    print('=='*20)

a
0    2.605486
1    0.749974
4    0.242585
Name: data1, dtype: float64
========================================
b
2   -1.156625
3    1.317381
Name: data1, dtype: float64
========================================

In [74]:
grp_ii = df[['data1','data2']].groupby(df['key1'])
grp_ii

In [75]:
for grp_name, grp_data in grp_ii:
    print(grp_name)
    print(grp_data)
    print('=='*20)

a
      data1     data2
0  2.605486  0.655194
1  0.749974 -1.309001
4  0.242585 -0.181527
========================================
b
      data1     data2
2 -1.156625 -0.027749
3  1.317381  0.148144
========================================

In [76]:
# 1. The object returned by indexing operation is a grouped DataFrame if a list or array
#    is pased
# 2. To compute the mean for just the data2 column and get the result as a DataFrame

grp_iii_mean = df.groupby(by = ['key1', 'key2'])[['data2']].mean()
grp_iii_mean

              data2
key1 key2
a    one   0.236833
     two  -1.309001
b    one  -0.027749
     two   0.148144

In [77]:
type(grp_iii_mean)

pandas.core.frame.DataFrame

In [78]:
# 1. The object returned by indexing operation is a grouped Series if a single column
#    is passed as a scalar
# 2. To compute the mean for just the data2 column and get the result as a Series
grp_iv_mean = df.groupby(by = ['key1', 'key2'])['data2'].mean()
grp_iv_mean

key1  key2
a     one     0.236833
      two    -1.309001
b     one    -0.027749
      two     0.148144
Name: data2, dtype: float64

In [79]:
type(grp_iv_mean)

pandas.core.series.Series