In [43]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.DataFrame(
    {
        'key1': ['a', 'a', 'b', 'b', 'a'],
        'key2': ['one', 'two', 'one', 'two', 'one'],
        'data1': np.random.randn(5),
        'data2': np.random.randn(5)
    }
)
df

  key1 key2     data1     data2
0    a  one  0.240094  0.646843
1    a  two -1.594882  0.948749
2    b  one  1.169932  1.524029
3    b  two -1.168098  1.773467
4    a  one -0.232359  2.335520

In [46]:
# 'grouped' is GroupBy object
grouped_i = df['data1'].groupby(by = df['key1'])
grouped_i

In [47]:
# If we want to compute the mean of colimn 'data1' using labels from 'key1'
grouped_mean_i = grouped_i.mean()
grouped_mean_i

key1
a   -0.529049
b    0.000917
Name: data1, dtype: float64

In [48]:
# If we had passed multiple arrays as list, we'd get something different
grouped_ii = df['data1'].groupby(by = [df['key1'], df['key2']])
grouped_ii

In [49]:
grouped_mean_ii = grouped_ii.mean()
grouped_mean_ii

key1  key2
a     one     0.003868
      two    -1.594882
b     one     1.169932
      two    -1.168098
Name: data1, dtype: float64

In [51]:
grouped_mean_ii.unstack(level = -1)

key2       one       two
key1
a     0.003868 -1.594882
b     1.169932 -1.168098