In [15]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [16]:
import pandas as pd
import numpy as np

In [17]:
people = pd.DataFrame(
    data = np.random.randn(5, 5),
    columns = ['a', 'b', 'c', 'd', 'e'],
    index = ['joe', 'steve', 'wes', 'jim', 'travis'] 
)
people

               a         b         c         d         e
joe     0.494422  0.168050 -0.069376  0.184666 -1.105725
steve  -0.000210 -0.535971  0.720741 -0.647639 -0.318122
wes     0.368226  0.474316 -0.572515  0.610001  0.792040
jim     0.187947  0.653715 -1.148936 -1.297036 -0.552901
travis -0.524025  1.036635  1.793918 -1.910196 -0.299044

In [18]:
grp_i = people.groupby(len)

In [19]:
for grp_name, grp_data in grp_i:
    print(grp_name)
    print(grp_data)
    print('=='*20)

3
            a         b         c         d         e
joe  0.494422  0.168050 -0.069376  0.184666 -1.105725
wes  0.368226  0.474316 -0.572515  0.610001  0.792040
jim  0.187947  0.653715 -1.148936 -1.297036 -0.552901
========================================
5
             a         b         c         d         e
steve -0.00021 -0.535971  0.720741 -0.647639 -0.318122
========================================
6
               a         b         c         d         e
travis -0.524025  1.036635  1.793918 -1.910196 -0.299044
========================================

In [20]:
# Mixing functions with arrays, Dict or Series is not a problem, as
# everything gets converted to array internally
key_list_level_1 = ['one', 'one', 'one', 'two', 'two']
key_list_level_2 = ['three', 'three', 'four', 'four', 'four']

grp_ii = people.groupby([len, key_list_level_1, key_list_level_2])
for grp_name, grp_data in grp_ii:
    print(grp_name)
    print(grp_data)
    print('=='*20)

(3, 'one', 'four')
            a         b         c         d        e
wes  0.368226  0.474316 -0.572515  0.610001  0.79204
========================================
(3, 'one', 'three')
            a        b         c         d         e
joe  0.494422  0.16805 -0.069376  0.184666 -1.105725
========================================
(3, 'two', 'four')
            a         b         c         d         e
jim  0.187947  0.653715 -1.148936 -1.297036 -0.552901
========================================
(5, 'one', 'three')
             a         b         c         d         e
steve -0.00021 -0.535971  0.720741 -0.647639 -0.318122
========================================
(6, 'two', 'four')
               a         b         c         d         e
travis -0.524025  1.036635  1.793918 -1.910196 -0.299044
========================================