In [12]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.DataFrame(
    {
        'key1': ['a', 'a', 'b', 'b', 'a'],
        'key2': ['one', 'two', 'one', 'two', 'one'],
        'data1': np.random.randn(5),
        'data2': np.random.randn(5)
    }
)
df

  key1 key2     data1     data2
0    a  one  0.085054 -2.126261
1    a  two  0.946015  0.367846
2    b  one -1.134383 -1.910906
3    b  two  0.134955  1.216139
4    a  one -0.193366 -0.684782

In [15]:
gropued_i = df.groupby('key1')

In [16]:
for grp_name, grp_data in gropued_i:
    print(grp_name)
    print(grp_data)

a
  key1 key2     data1     data2
0    a  one  0.085054 -2.126261
1    a  two  0.946015  0.367846
4    a  one -0.193366 -0.684782
b
  key1 key2     data1     data2
2    b  one -1.134383 -1.910906
3    b  two  0.134955  1.216139

In [17]:
# When there are multiple keys, first element in the tuple will be a
# tuple of key values
gropued_ii = df.groupby(by = ['key1', 'key2'])
for (grp_name_level_i, grp_name_level_ii), grp_data in gropued_ii:
    print(grp_name_level_i)
    print(grp_name_level_ii)
    print(grp_data)

a
one
  key1 key2     data1     data2
0    a  one  0.085054 -2.126261
4    a  one -0.193366 -0.684782
a
two
  key1 key2     data1     data2
1    a  two  0.946015  0.367846
b
one
  key1 key2     data1     data2
2    b  one -1.134383 -1.910906
b
two
  key1 key2     data1     data2
3    b  two  0.134955  1.216139